{% extends "admin.html" %}
{% block content %}
    <!-- ADD CATEGORY FORM WITH DISABLED CATEGORY TABLE -->
        <div class="row">
            <table class="responsive-table centered striped table-sm" style="width:100%">
                <form class="card-content white-text" method="POST" action="{{ url_for('add_category') }}">
                <tr>
                    <th>
                        <!-- SCHOLARSHIP CATEGORY -->
                        <div class="input-field col s6">
                            <input id="category" name="category" type="text" class="validate" required>
                        </div>
                    </th>
                    <th>
                        <!-- SAVE BUTTON -->
                        <button class="btn waves-effect waves-light" type="submit" name="save">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </th>
                </tr>
                </form>
                {% for category in categories %}
                <div class="card-content white-text">
                <tr>
                    <th>
                        <!-- SCHOLARSHIP CATEGORY -->
                            <div class="input-field col s6">
                                <input id="category" name="category" value="{{ category.category }}" type="text" class="validate" required>
                            </div>
                            <label for="category" hidden>Category</label>
                    </th>
                    <th>
                        <!-- EDIT BUTTON -->
                                <button class="btn waves-effect waves-light" type="submit" name="edit" disabled>Edit
                                        <i class="material-icons right">edit</i>
                                </button>
                    </th>
                    <th>
                        <!-- DELETE BUTTON -->
                                <button class="btn waves-effect waves-light" name="delete" disabled>
                                    <a href="#">Delete
                                        <i class="material-icons right">delete</i>
                                    </a>
                                </button>
                    </th>
                </tr>
                </div>
                {% endfor %}
            </table>
        </div>
{% endblock %}

