{% extends "admin.html" %}
{% block content %}
        <!-- ADD CATEGORY BUTTON -->
        <div class="row">
            <a href="{{ url_for('add_category')}}">
                <button class="btn waves-effect waves-light" name="add_category">
                Add Category<i class="material-icons right">addchart</i>
                </button>
            </a>
        </div>
        <!-- CATEGORY TABLE -->
        <div class="row">
            <table class="responsive-table centered striped table-sm" style="width:100%">
                {% for category in categories %}
                <form class="card-content white-text" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
                <tr>
                    <th>
                        <!-- SCHOLARSHIP CATEGORY -->
                        <div class="input-field col s6">
                            <input id="category" name="category" value="{{ category.category }}" type="text" class="validate" required>
                        </div>
                    </th>
                    <th>
                        <!-- EDIT BUTTON -->
                        <button class="btn waves-effect waves-light" type="submit" name="edit">Edit
                            <i class="material-icons right">edit</i>
                        </button>
                    </th>
                    </form>
                    <th>
                        <!-- DELETE BUTTON -->
                        <a href="{{ url_for('delete_category', category_id=category._id) }}">
                            <button class="btn waves-effect waves-light" name="delete">
                                Delete<i class="material-icons right">delete</i>
                            </button>
                        </a>
                    </th>
                </tr>
                
                {% endfor %}
            </table>
        </div>
{% endblock %}

