{% extends "base.html" %}
{% block content %}

    <form class="row" method="POST" action="{{ url_for('delete_scholarship', scholarship_id=scholarship._id) }}">
        <div class="col s6 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <!-- SCHOLARSHIP NAME -->
                    <span class="card-title">{{ scholarship.scholarship_name}}</span>
                    <!-- SCHOLARSHIP SPONSOR -->
                    <p>Sponsor: {{ scholarship.scholarship_sponsor }}</p>
                    <!-- SCHOLARSHIP AMOUNT -->
                    <p>Award: {{ scholarship.scholarship_amount }}</p>
                    <!-- SCHOLARSHIP CATEGORY -->
                    <p>Category: {{ scholarship.category }}</p>
                    <!-- SCHOLARSHIP DEADLINE -->
                    <p>Deadline: {{ scholarship.scholarship_deadline }}</p>
                    <!-- SCHOLARSHIP WINNER DATE TO BE ANNOUNCED -->
                    <p>Date to annouce winner: {{ scholarship.date_winner_announced }}</p>
                    <!-- SCHOLARSHIP NOTE -->
                    <p>Notes: {{ scholarship.note }}</p>
                    <!-- SCHOLARSHIP URL -->
                    <div class="card-action">
                        <a href="https://{{ scholarship.scholarship_url }}" target="_blank">{{ scholarship.scholarship_url }}</a>
                        <!-- CONFIRM BUTTON -->
                        <button class="btn waves-effect waves-light" type="submit" name="confirm">Confirm Deletion
                            <i class="material-icons right">published_with_changes</i>
                        </button>
                        <!-- CANCEL BUTTON -->
                        <button class="btn waves-effect waves-light" name="cancel_delete">
                            <a href="{{ url_for('view_scholarship', scholarship_id=scholarship._id) }}">
                            Cancel<i class="material-icons right">cancel_presentation</i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
