{% extends "base.html" %}
{% block content %}
        <form class="row" method="POST" action="{{ url_for('edit_scholarship', scholarship_id=scholarship._id) }}">
            <div class="col s6 m4">
                <div class="card blue darken-4">
                    <div class="card-content white-text">
                        <!-- SCHOLARSHIP NAME -->
                        <div class="input-field col s6">
                            <input id="scholarship_name" name="scholarship_name" value="{{ scholarship.scholarship_name }}" type="text" class="validate">
                            <label for="scholarship_name">Scholarship Name</label>
                        </div>

                        <!-- SCHOLARSHIP SPONSOR -->
                        <div class="input-field col s6">
                            <input id="scholarship_sponsor" name="scholarship_sponsor" value="{{ scholarship.scholarship_sponsor }}" type="text" class="validate">
                            <label for="scholarship_sponsor">Scholarship Sponsor</label>
                        </div>

                        <!-- CATEGORY -->
                        <div class="input-field col s6">
                            <select id="category" name="category" class="validate">
                                <option value="" disabled>Choose Category</option>
                                    {% for category in categories %}
                                        {% if category.category == scholarship.category %}
                                            <option value="{{ category.category }}" selected>{{ category.category }}</option>
                                        {% else %}
                                            <option value="{{ category.category }}">{{ category.category }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                            <label for="category">Category</label>
                        </div>

                        <!-- SCHOLARSHIP AMOUNT -->
                            <div class="input-field col s6">
                                <textarea id="scholarship_amount" name="scholarship_amount" value="{{ scholarship.scholarship_amount }}" type="text" rows="6" class="validate">
                                </textarea>
                                <label for="scholarship_amount">Award</label>
                            </div>

                        <!-- SCHOLARSHIP URL -->
                        <div class="input-field col s12">
                            <input id="scholarship_url" name="scholarship_url" value="{{ scholarship.scholarship_url }}" type="text" class="validate">
                            <label for="scholarship_url">Website</label>
                        </div>

                        <fieldset>
                        <!-- SCHOLARSHIP DEADLINE -->
                        <div class="input-field col s6">
                            <input id="scholarship_deadline" name="scholarship_deadline" value="{{ scholarship.scholarship_deadline }}" type="date" class="validate">
                            <label for="scholarship_deadline">Deadline</label>
                        </div>

                        <!-- SCHOLARSHIP WINNER DATE TO BE ANNOUNCED -->
                        <div class="input-field col s6">
                            <input id="date_winner_announced" name="date_winner_announced" value="{{ scholarship.date_winner_announced }}" type="date" class="validate">
                            <label for="date_winner_announced">Date to annouce winner</label>
                        </div>
                        </fieldset>

                      <!-- SCHOLARSHIP NOTE -->
                        <div class="input-field col s6">
                            <textarea id="note" name="note" value="{{ scholarship.note }}" type="text" rows="6" class="validate">
                            </textarea>
                            <label for="note">Notes</label>
                        </div>

                        <!-- APPLICATION STATUS -->
                        <div class="input-field col s6">
                            <select id="application_status" name="application_status" class="validate">
                                <option value="" disabled>Choose Status</option>
                                    {% for status in statuses %}
                                        {% if status.status == scholarship.application_status %}
                                            <option value="{{ status.status }}" selected>{{ status.status }}</option>
                                        {% else %}
                                            <option value="{{ status.status }}">{{ status.status }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                            <label for="application_status">Application Status</label>
                        </div>

                        <fieldset>
                        <!-- Date Applied -->
                        <div class="input-field col s6">
                            <input id="date_applied" name="date_applied" value="{{ scholarship.dates.date_applied  }}" type="date" class="validate">
                            <label for="date_applied">Date Applied</label>
                        </div>

                        <!-- Date Awarded -->
                        <div class="input-field col s6">
                            <input id="date_awarded" name="date_awarded" value="{{ scholarship.dates.date_awarded  }}" type="date" class="validate">
                            <label for="date_awarded">Date Awarded</label>
                        </div>

                        <!-- Date Rejected -->
                        <div class="input-field col s6">
                            <input id="date_rejected" name="date_rejected" value="{{ scholarship.dates.date_rejected  }}" type="date" class="validate">
                            <label for="date_rejected">Date Rejected</label>
                        </div>

                        <!-- Date Declined -->
                        <div class="input-field col s6">
                            <input id="date_declined" name="date_declined" value="{{ scholarship.dates.date_declined  }}" type="date" class="validate">
                            <label for="date_declined">Date Declined</label>
                        </div>
                    </fieldset>
                    </div>
                    <!-- DOCUMENTS REQUIRED -->
            <div class="card-action">
                <span class="black badge">Documents Required</span>
                <!-- RECOMMENDATION REQUIRED -->
                <!--<label class="input-field col s6">
                {% if scholarship.documents.recommendation_required == "no" %}
                <input type="checkbox" class="filled-in"
                    value="no"  id="recommendation_required" name="recommendation_required" />
                {% else %}
                <input type="checkbox" class="filled-in"
                    value="yes"  id="recommendation_required" name="recommendation_required" checked/>
                {% endif %}
                <input type="hidden" class="filled-in"
                    value="no"  id="recommendation_required" name="recommendation_required" />
                <input type="checkbox" class="filled-in"
                    value="yes"  id="recommendation_required" name="recommendation_required" />
                <span>
                <input class="col s2" type="number"
                    value={{ scholarship.documents.recomendation_count }}
                    id="recomendation_count" name="recomendation_count"  />
                Recommendation(s) Required </span>
                </label>-->
                <label class="input-field col s6">
                    {% if scholarship.documents.recommendation_required == "yes" %}
                        <input type="checkbox" value="yes" class="filled-in" id="recommendation_required" name="recommendation_required" checked/>
                    {% else %}
                        <input type="checkbox" value="no" class="filled-in" id="recommendation_required" name="recommendation_required"/>
                    {% endif %}
                        <span>
                            <input class=" col s2" id="recomendation_count" name="recomendation_count" type="number" value={{ scholarship.documents.recomendation_count }}>
                        Recommendation(s) Required </span>
                    </label>
                <!-- TRANSCRIPT REQUIRED -->
                <label class="input-field col s6">
                {% if scholarship.documents.transcript_required == "yes" %}
                <input id="transcript_required" name="transcript_required" type="checkbox" value="yes" class="filled-in" checked/>
                <span>Transcript Required </span>
                {% else %}
                <input id="transcript_required" name="transcript_required" type="checkbox" value="no" class="filled-in"/>
                <span>Transcript Required </span>
                {% endif %}
                </label>
                <!-- ESSAY REQUIRED -->
                <label class="input-field col s6">
                {% if scholarship.documents.essay_required == "yes" %}
                <input type="checkbox" class="filled-in" id="essay_required" name="essay_required" value="yes" checked/>
                {% else %}
                <input type="checkbox" class="filled-in" id="essay_required" name="essay_required" value="no" />
                {% endif %}
                <span>
                <input class=" col s2" id="essay_count" name="essay_count" type="number" value={{ scholarship.documents.essay_count }}>
                Essay(s) Required </span>
                </label>
                <!-- FIRST OTHER DOCUMENT -->
                {% if scholarship.documents.other1.document_name != null %}
                <label class="input-field col s6">
                {% if scholarship.documents.other1.required == "yes" %}
                <input type="checkbox" id="document_required1" name="document_required1" value="yes" class="filled-in" checked/>
                <span>
                <input class=" col s6" id="document_name1" name="document_name1" type="text" value={{ scholarship.documents.other1.document_name }}>
                Required 
                </span>
                {% else %}
                <input id="document_required1" name="document_required1" type="checkbox" value="no" class="filled-in"/>
                <span>
                <input class=" col s6" id="document_name1" name="document_name1" type="text" value={{ scholarship.documents.other1.document_name }}>
                Optional 
                </span>
                {% endif %}
                </label>
                <!-- SECOND OTHER DOCUMENT -->
                <label class="input-field col s6">
                {% if scholarship.documents.other2.required == "yes" %}
                <input type="checkbox" value="yes" id="document_required2" name="document_required2" class="filled-in" checked/>
                <span>
                <input class=" col s6" id="document_name2" name="document_name2" type="text" value={{ scholarship.documents.other2.document_name }}>
                Required 
                </span>
                {% else %}
                <input id="document_required2" name="document_required2" type="checkbox" value="no" class="filled-in"/>
                <span>
                <input class=" col s6" id="document_name2" name="document_name2" type="text" value={{ scholarship.documents.other2.document_name }}>
                Optional 
                </span>
                {% endif %}
                </label>
                {% endif %}
                <!-- THIRD OTHER DOCUMENT -->
                {% if scholarship.documents.other2.document_name != null %}
                <label class="input-field col s6">
                {% if scholarship.documents.other3.required == "yes" %}
                <input type="checkbox" value="yes" id="document_required3" name="document_required3" class="filled-in" checked/>
                <span>
                <input class=" col s6" id="document_name3" name="document_name3" type="text" value={{ scholarship.documents.other3.document_name }}>
                Required 
                </span>
                {% else %}
                <input id="document_required3" name="document_required3" type="checkbox" value="no" class="filled-in"/>
                <span>
                <input class=" col s6" id="document_name3" name="document_name3" type="text" value={{ scholarship.documents.other3.document_name }}>
                Optional 
                </span>
                {% endif %}
                </label>
                {% endif %}
            </div>   
                    <div class="card-action">
                    <!-- UPDATE BUTTON -->
                    <button class="btn waves-effect waves-light" type="submit" name="edit_scholarship">Update
                        <i class="material-icons right">edit</i>
                    </button>

                   
                    <!-- CANCEL BUTTON -->
                    <button class="btn waves-effect waves-light" name="cancel_edit">
                        <a href="{{ url_for('view_scholarship', scholarship_id=scholarship._id) }}">
                        Cancel<i class="material-icons right">cancel_presentation</i>
                        </a>
                    </button>
                </div>
            </div>
        </form>
{% endblock %}

