{% extends "base.html" %}
{% block content %}

    <div class="center">
        <img class="responsive-img" style="width: 250px;" src="/static/images/scholarship.jpg" alt="banner"/>
        <div class="section"></div>
        <h5 class="green-text">Please, login into your account</h5>
        <div class="section"></div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <form class="col s12" action="{{ url_for('login') }}" method="POST">
                <div class="row">
                    <!-- blank space -->
                    <div class='col s12'>
                    </div>
                </div>
                <div class='row'>
                    <!-- EMAIL -->
                    <div class='input-field col s12'>
                        <input class='validate' type='email' name='username' id='username' required/>
                        <label for='username'>Email</label>
                    </div>
                </div>
                <div class='row'>
                    <!-- PASSWORD -->
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' 
                        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required/>
                        <label for='password'>Password</label>
                    </div>
                </div>
                <!-- TODO Make Forgot Password link work -->
                <!--<label style='float: right;'>
                        <a class='orange-text' href='#!'><b>Forgot Password?</b></a>
                    </label>-->
                </div>

                <br>
                <div class="center">
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green darken-4'>Login</button>
                    </div>
                </div>
            </form>
            </div>
        <a class='brown-text' href="{{url_for('register')}}">Create account</a>
    </div>

    <div class="section"></div>
    <div class="section"></div>
  </main>
{% endblock %}
