{% extends "base.html" %}
{% block content %}

<!-- SEARCH -->
<center>
    <div class='row'>
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search..." required>
                    <label for="query" hidden>Search Scholarships</label>
                    <div class="col s12 m4">
                    <a href="{{ url_for('get_scholarships') }}" class="red accent-1 btn text-shadow">Reset</a>
                    <button type="submit" class="light-green darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</center>

<!-- FILTER AND SORT -->
<center>
    <div class="row">
		<div class="col s12">
			<!-- MATERIALIZE'S DROPDOWN SELECT FOR DESKTOP USERS -->
            <!-- Categories -->
			<div class="input-field col s12 m4 hide-on-med-and-down">
				<div class="select-wrapper">
					<select id="categorySelect">
						<option class="filter" selected disabled>Filter Category</option>
						<option class="filter" href="{{ get_categories }}" value="all" data-filter="all" selected>All Categories</option>
                        {% for category in categories %}
						<option class="filter" href="{{ url_for("get_category", category=category.category) }}" value="{{ category.category }}">{{ category.category }}</option>
						{% endfor %}
					</select>
				</div>
            </div>
            <!-- Statuses -->
            <div class="input-field col s12 m4 hide-on-med-and-down">
                <div class="select-wrapper">
					<select id="statusSelect">
						<option class="filter" selected disabled>Filter Status</option>
						<option class="filter" href="{{ get_statuses }}" value="all" data-filter="all" selected>All Statuses</option>
                        {% for status in statuses %}
						<option class="filter" href="{{ url_for("get_status", status=status.status) }}" value="{{ status.status }}">{{ status.status }}</option>
						{% endfor %}
					</select>
				</div>
            </div>
	    </div>
    </div>
</center>

<!-- ADD BUTTON -->
<center>
    <div class='row'>
        
        <button type='submit' name='btn_register' class='col s12 btn btn-large waves-effect green darken-4'><a href="{{ url_for('add_scholarship') }}">Add Scholarship</a></button>
        
    </div>
</center>

<ul class="collapsible">
    {% for scholarship in scholarships %}
    <li>
        <div class="collapsible-header light-green darken-3">
            <i class="material-icons">school</i>
            <div class="container">
                <!-- NAME -->
                <h5 class="black-text">{{ scholarship.scholarship_name }}</h5>
                <!-- SPONSOR -->
                <p class="black-text">Sponsor: {{ scholarship.scholarship_sponsor }}</p>
                <!-- AMOUNT -->
                <p class="black-text">Amount: ${{ scholarship.scholarship_amount }}</p>
            </div>
            <div class="container">
                <!-- DEADLINE -->
                {% if scholarship.scholarship_deadline < today.isoformat() %}
                <div class="chip red accent-1">
                    Past Deadline: {{ scholarship.scholarship_deadline }}
                </div>
                {% elif scholarship.scholarship_deadline < endate.isoformat() %}
                <div class="chip lime accent-2 black-text">
                    Upcoming Deadline: {{ scholarship.scholarship_deadline }}
                </div>
                {% else %}
                <p class="black-text">Deadline: {{ scholarship.scholarship_deadline }}</p>
                {% endif %}
                <!-- SCHOLARSHIP CATEGORY -->
                <div class="chip">
                    Category: {{ scholarship.category }}
                </div>
                <!-- SCHOLARSHIP STATUS -->
                <div class="chip">
                    Status: {{ scholarship.application_status }}
                </div>
            <div class="row"
                <!-- URL -->
                <a href="https://{{ scholarship.scholarship_url }}" target="_blank" class="white-text">{{ scholarship.scholarship_url }}</a>
            </div>
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                <a href="#scholarship_delete_confirmation" class="btn-floating btn-small waves-effect waves-light modal-trigger red accent-1 right"><i class="material-icons">delete</i></a>
                <a href="{{ url_for('edit_scholarship', scholarship_id=scholarship._id)}}" class="btn-floating btn-small waves-effect waves-light light-green darken-4 right" style="margin-right:10px;"><i class="material-icons">edit</i></a>
                <div class="container">
                    <!-- SCHOLARSHIP WINNER DATE TO BE ANNOUNCED -->
                    <p class="left-align">Date to annouce winner: {{ scholarship.date_winner_announced }}</p>
                    <!-- APPLICATION STATUS -->
                    {% if scholarship.application_status == "Plan to Apply" %}
                    <span class="black badge">{{ scholarship.application_status }} by {{ scholarship.scholarship_deadline }}</span></br>
                    {% elif scholarship.application_status == "Applied" %}
                    <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_applied }}</span></br>
                    {% elif scholarship.application_status == "Awarded" %}
                    <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_awarded }}</span></br>
                    {% elif scholarship.application_status == "Not Awarded" %}
                    <span class="black badge">Notification of Denial: {{ scholarship.date_rejected }}</span></br>
                    {% elif scholarship.application_status == "Declined" %}
                    <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_declined }}</span></br>
                    {% endif %}
                </div>
                <div class="container">
                    <!-- SCHOLARSHIP NOTE -->
                    <p class="left-align">Notes: {{ scholarship.note }}</p>
                </div>
                <hr>
                <div class="container"><div class="row">
                    <div class="col s12 m6 l3">
                    <!-- Date Applied -->
                    <p class="black-text">Date Applied: {{ scholarship.dates.date_applied }}</p>
                    </div>
                    <div class="col s12 m6 l3">
                    <!-- Date Awarded -->
                    <p class="black-text">Date Awarded: {{ scholarship.dates.date_awarded }}</p>
                    </div>
                    <div class="col s12 m6 l3">
                    <!-- Date Rejected -->
                    <p class="black-text">Date Rejected: {{ scholarship.dates.date_rejected }}</p>
                    </div>
                    <div class="col s12 m6 l3">
                    <!-- Date Declined -->
                    <p class="black-text">Date Declined: {{ scholarship.dates.date_declined }}</p>
                    </div>
                </div></div>
                <hr>
                <div class="container">
                    {% if scholarship.documents.recommendation_required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>{{ scholarship.documents.recomendation_count }} Recommendation(s) Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>Recommendation(s) Required </span>
                    {% endif %}
                    <br>
                    <!-- TRANSCRIPT REQUIRED -->
                    {% if scholarship.documents.transcript_required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>Transcript Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>Transcript Required </span>
                    {% endif %}
                    <br>
                    <!-- ESSAY REQUIRED -->
                    {% if scholarship.documents.essay_required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>{{ scholarship.documents.essay_count }} Essay(s) Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>Essay(s) Required </span>
                    {% endif %}
                    <br>
                    <!-- FIRST OTHER DOCUMENT -->
                    {% if scholarship.documents.other1.document_name != null %}
                    {% if scholarship.documents.other1.required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other1.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>{{ scholarship.documents.other1.document_name }} Optional </span>
                    {% endif %}
                    <br>
                    <!-- SECOND OTHER DOCUMENT -->
                    {% if scholarship.documents.other2.required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other2.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>{{ scholarship.documents.other2.document_name }} Optional </span>
                    {% endif %}
                    <br>
                    {% endif %}
                    <!-- THIRD OTHER DOCUMENT -->
                    {% if scholarship.documents.other2.document_name != null %}
                    {% if scholarship.documents.other3.required == "yes" %}
                    <input type="checkbox" class="checkbox-light-green" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other3.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" class="checkbox-light-green" disabled/>
                    <span>{{ scholarship.documents.other3.document_name }} Optional </span>
                    {% endif %}
                    <br>
                    {% endif %}
                </div>
            </span>
        </div>
    </li>
    <!-- Delete Scholarship Modal Structure -->
    <div id="scholarship_delete_confirmation" class="modal orange lighten-5">
        <div class="delete-modal-content center-align">
            <h5>Delete {{ scholarship.scholarship_name }} </h5>
            <p>Are you sure you want to proceed?</p>
        </div>
        <div class="delete-modal-footer center-align">
            <a href="#" rel="modal:close" class="modal-close btn-small red accent-1 btn text-shadow" id="modal-cancel-btn">No</a>
            <a href="{{ url_for('delete_scholarship', scholarship_id=scholarship._id) }}" id="modal-yes-btn" class="modal-close btn-small light-green darken-1 btn text-shadow">Yes</a>
        </div>
    </div>
    {% else %}
    <li>
        <div class="collapsible-header">
            <h3 class="black-text center-align">
            No Results Found
            <h3>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}