{% extends "base.html" %}
{% block content %}
<main>
    <center>
<div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <div class="row card-panel light-green darken-4">
            <div class="col s6 m4">
                <div class="card light-green darken-4">
                    <div class="card-content white-text">
                        <!-- SCHOLARSHIP NAME -->
                        <span class="card-title black-text">{{ scholarship.scholarship_name}}</span>
                        <p>Sponsor: {{ scholarship.scholarship_sponsor }}</p>
                        <!-- SCHOLARSHIP AMOUNT -->
                        <p>
                            {% if scholarship.scholarship_amount.isnumeric() %}
                            Award: ${{ scholarship.scholarship_amount }}
                            {% else %}
                            Award: {{ scholarship.scholarship_amount }}
                            {% endif %}
                        </p>
                        <!-- SCHOLARSHIP CATEGORY -->
                        <div class="chip">
                            Category: {{ scholarship.category }}
                        </div></br>
                        <!-- SCHOLARSHIP DEADLINE -->
                        {% if scholarship.scholarship_deadline < today.isoformat() %}
                        <div class="chip red accent-1">
                            Past Deadline: {{ scholarship.scholarship_deadline }}
                        </div></br>
                        {% elif scholarship.scholarship_deadline < endate.isoformat() %}
                        <div class="chip lime accent-2 black-text">
                            Upcoming Deadline: {{ scholarship.scholarship_deadline }}
                        </div></br>
                        {% else %}
                        <p>Deadline: {{ scholarship.scholarship_deadline }}</p>  
                        {% endif %}               
                        <!-- SCHOLARSHIP WINNER DATE TO BE ANNOUNCED -->
                        <p class="left-align">Date to annouce winner: {{ scholarship.date_winner_announced }}</p>
                        <!-- APPLICATION STATUS -->
                        {% if scholarship.application_status == "Plan to Apply" %}
                        <span class="black badge">{{ scholarship.application_status }} by {{ scholarship.scholarship_deadline }}</span></br>
                        {% elif scholarship.application_status == "Applied" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_applied }}</span></br>
                        {% elif scholarship.application_status == "Awarded" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_awarded }}</span></br>
                        {% elif scholarship.application_status == "Not Awarded" %}
                        <span class="black badge">Notification of Denial: {{ scholarship.date_rejected }}</span></br>
                        {% elif scholarship.application_status == "Declined" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_declined }}</span></br>
                        {% endif %}
                        <!-- SCHOLARSHIP NOTE -->
                        <p class="left-align">Notes: {{ scholarship.note }}</p>
                        <div class="card-content white-text left-align">
                        <!-- Date Applied -->
                        <p>Date Applied: {{ scholarship.dates.date_applied }}</p>
                        <!-- Date Awarded -->
                        <p>Date Awarded: {{ scholarship.dates.date_awarded }}</p>
                        <!-- Date Rejected -->
                        <p>Date Rejected: {{ scholarship.dates.date_rejected }}</p>
                        <!-- Date Declined -->
                        <p>Date Declined: {{ scholarship.dates.date_declined }}</p>
                        </div>
                        <!-- DOCUMENTS REQUIRED -->
                <div class="card-content white-text left-align">
                    <span class="black badge">Documents Required</span>
                    <!-- RECOMMENDATION REQUIRED -->
                    <label>
                    {% if scholarship.documents.recommendation_required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>{{ scholarship.documents.recomendation_count }} Recommendation(s) Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>Recommendation(s) Required </span>
                    {% endif %}
                    </label><br>
                    <!-- TRANSCRIPT REQUIRED -->
                    <label>
                    {% if scholarship.documents.transcript_required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>Transcript Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>Transcript Required </span>
                    {% endif %}
                    </label><br>
                    <!-- ESSAY REQUIRED -->
                    <label>
                    {% if scholarship.documents.essay_required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>{{ scholarship.documents.essay_count }} Essay(s) Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>Essay(s) Required </span>
                    {% endif %}
                    </label><br>
                    <!-- FIRST OTHER DOCUMENT -->
                    {% if scholarship.documents.other1.document_name != null %}
                    <label>
                    {% if scholarship.documents.other1.required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other1.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>{{ scholarship.documents.other1.document_name }} Optional </span>
                    {% endif %}
                    </label><br>
                    <!-- SECOND OTHER DOCUMENT -->
                    <label>
                    {% if scholarship.documents.other2.required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other2.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>{{ scholarship.documents.other2.document_name }} Optional </span>
                    {% endif %}
                    </label><br>
                    {% endif %}
                    <!-- THIRD OTHER DOCUMENT -->
                    {% if scholarship.documents.other2.document_name != null %}
                    <label>
                    {% if scholarship.documents.other3.required == "yes" %}
                    <input type="checkbox" checked="checked" disabled/>
                    <span>{{ scholarship.documents.other3.document_name }} Required </span>
                    {% else %}
                    <input type="checkbox" disabled/>
                    <span>{{ scholarship.documents.other3.document_name }} Optional </span>
                    {% endif %}
                    </label><br>
                    {% endif %}
                </div>
                        </div>
                        <!-- SCHOLARSHIP URL -->
                        <div class="card-action">
                            <a href="https://{{ scholarship.scholarship_url }}" target="_blank">{{ scholarship.scholarship_url }}</a>
                        </div>
                        <div class="card-action">
                        <div class="row justify-content-around">
                            <!-- EDIT BUTTON -->
                            <button class="btn waves-effect amber darken-4" name="edit">
                                <a href="{{ url_for('edit_scholarship', scholarship_id=scholarship._id) }}">Edit
                                    <i class="material-icons right">edit</i>
                                </a>
                            </button>
                            <!-- BACK TO LIST BUTTON -->
                            <button class="btn waves-effect amber darken-4" name="return">
                                <a href="{{ url_for('get_scholarships')}}">Back
                                    <i class="material-icons right">arrow_back</i>
                                </a>
                            </button>
                            
                            </div>
                            <div class="row justify-content-center">
                            <!-- DELETE BUTTON -->
                            <button class="btn btn-small waves-effect amber darken-4" name="delete">
                                <a href="#scholarship_delete_confirmation" rel="modal:open">
                                Delete<i class="material-icons right">delete</i></a>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </div>
            </main>
    </center>

    <!-- Modal Structure -->
    <div id="scholarship_delete_confirmation" class="modal orange lighten-5">
        <div class="delete-modal-content center-align">
            <h5>Delete {{ scholarship.scholarship_name }}</h5>
            <p>Are you sure you want to proceed?</p>
        </div>
        <div class="delete-modal-footer center-align">
            <a href="#" rel="modal:close" class="modal-close btn-small red accent-1 btn text-shadow" id="modal-cancel-btn">Cancel</a>
            <a href="{{ url_for('delete_scholarship', scholarship_id=scholarship._id) }}" id="modal-yes-btn" class="modal-close btn-small light-green darken-1 btn text-shadow">Yes</a>
        </div>
    </div>
{% endblock %}

