{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="col s6 m4">
                <div class="card blue darken-4">
                    <div class="card-content white-text">
                        <!-- SCHOLARSHIP NAME -->
                        <span class="card-title">{{ scholarship.scholarship_name}}</span>
                        <p>Sponsor: {{ scholarship.scholarship_sponsor }}</p>
                        <!-- SCHOLARSHIP AMOUNT -->
                        <p>
                            {% if scholarship.scholarship_amount.isnumeric() %}
                            Award: ${{ scholarship.scholarship_amount }}
                            {% else %}
                            Award: {{ scholarship.scholarship_amount }}
                            {% endif %}
                        </p>
                        <!-- SCHOLARSHIP CATEGORY -->
                        <div class="chip">
                            Category: {{ scholarship.category }}
                        </div>
                        <!-- SCHOLARSHIP DEADLINE -->
                        {% if scholarship.scholarship_deadline < today.isoformat() %}
                        <div class="chip red">
                            Past Deadline: {{ scholarship.scholarship_deadline }}
                        </div>
                        {% elif scholarship.scholarship_deadline < endate.isoformat() %}
                        <div class="chip yellow">
                            Upcoming Deadline: {{ scholarship.scholarship_deadline }}
                        </div>
                        {% else %}
                        <p>Deadline: {{ scholarship.scholarship_deadline }}</p>  
                        {% endif %}               <!-- SCHOLARSHIP WINNER DATE TO BE ANNOUNCED -->
                        <p>Date to annouce winner: {{ scholarship.date_winner_announced }}</p>
                        <!-- APPLICATION STATUS -->
                        {% if scholarship.application_status == "Plan to Apply" %}
                        <span class="black badge">{{ scholarship.application_status }} by {{ scholarship.scholarship_deadline }}</span>
                        {% elif scholarship.application_status == "Applied" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_applied }}</span>
                        {% elif scholarship.application_status == "Awarded" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_awarded }}</span>
                        {% elif scholarship.application_status == "Not Awarded" %}
                        <span class="black badge">Notification of Denial: {{ scholarship.date_rejected }}</span>
                        {% elif scholarship.application_status == "Declined" %}
                        <span class="black badge">{{ scholarship.application_status }} {{ scholarship.date_declined }}</span>
                        {% endif %}
                        <!-- SCHOLARSHIP NOTE -->
                        <p>Notes: {{ scholarship.note }}</p>
                        <div class="card-content white-text">
                        <!-- Date Applied -->
                        <p>Date Applied: {{ scholarship.dates.date_applied }}</p>
                        <!-- Date Awarded -->
                        <p>Date Awarded: {{ scholarship.dates.date_awarded }}</p>
                        <!-- Date Rejected -->
                        <p>Date Rejected: {{ scholarship.dates.date_rejected }}</p>
                        <!-- Date Declined -->
                        <p>Date Declined: {{ scholarship.dates.date_declined }}</p>
                        </div>
                        
                        </div>
                        <!-- SCHOLARSHIP URL -->
                        <div class="card-action">
                            <a href="https://{{ scholarship.scholarship_url }}" target="_blank">{{ scholarship.scholarship_url }}</a>
                        </div>
                        <div class="card-action">
                            <!-- EDIT BUTTON -->
                            <button class="btn waves-effect waves-light" name="edit">
                                <a href="{{ url_for('edit_scholarship', scholarship_id=scholarship._id) }}">Edit
                                    <i class="material-icons right">edit</i>
                                </a>
                            </button>
                            <!-- DELETE BUTTON -->
                            <button class="btn waves-effect waves-light" name="delete">
                                <a href="{{ url_for('delete_scholarship', scholarship_id=scholarship._id) }}">Delete
                                    <i class="material-icons right">delete</i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

